<div class="contents_row">
  <%= form_with(url:blogs_path, local:true) do |form| %>
    <h3>
      投稿する
    </h3>
    題名
    <textarea name="title" placeholder="title"></textarea>
    内容
    <textarea cols="30" name="text" placeholder="text" rows="10" class="input_box"></textarea>
    <input type="submit" value="SENT" class="submit_btn">
  <% end %>
</div>
